/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto Mono', monospace;
}

strong {
    font-weight: bolder
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.menu a.active {
    color:white;
}
a:active {
    color:green;
    font-weight:bold
}

/* Nav Bar */
.menu {
    display:flex;
    background-color: gray;
    color: white;
    padding: 20px;
    padding-top:5px;
    padding-bottom:5px
    /*position:fixed;
    top:0;
    width:100%;
    overflow:hidden*/
}
.menu li {
    margin:auto;
    list-style-type: none;
}

header .logo a{
    background-image: url('images/eflogo.png');
    background-repeat: no-repeat;
    display:inline-block;
    text-indent: -999999px;
    width:120px;
    height:100px;
}


/* Header */
.mainpic {
    text-align:center;
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 60px;
    background-image: url('images/background.jpeg');
    background-size:100%;
    height:400px;
    background-position: center;

    /*margin-top:120px*/
}
.mainpic h1 {
    font-size: 50px;
    margin-top:100px;
    margin-bottom:100px
}
.mainpic h1,.mainpic p {
    font-family: 'Zen Dots', cursive;
    color:teal
}

/* Videos */
.videos {
    background-color: black;
    color:rgb(117, 14, 143);
    padding: 30px;
}
.videos h1 {
    text-align:center;
    margin-bottom: 30px;
    font-weight:bold
}
.video-container {
    display:flex;
    flex-wrap:wrap;

}
.video-container iframe {
    margin:auto;
    margin-bottom: 10px
}

/* Media */
.media {
    padding: 30px;
    display:flex;
    flex-wrap:wrap
}

.media figure {
    margin:auto
}

figure.medialogo.ytlogoalt {
    display:none
}

@media screen and (max-width:650px) {
    figure.medialogo.ytlogoalt {
        display:block
    }
    figure.medialogo.ytlogomain {
        display:none
    }
    .media figure {
        margin-bottom:10px
    }
}

/* About Page */
.about {
    padding: 50px;
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    color:white;
    padding:20px 10px;
    text-align:center;
}