/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto Mono', monospace;
}

.menu {
    display:flex;
    background-color: gray;
    color: white;
    padding: 20px
}
.menu li {
    margin:auto;
    list-style-type: none;
}

/* Header */
.mainpic {
    text-align:center;
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 60px;
}
.mainpic h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Videos */
.videos {
    background-color: black;
    color:white;
    padding: 30px;
}
.videos h1 {
    text-align:center;
    margin-bottom: 30px
}
.video-container {
    display:flex;
    flex-wrap:wrap;

}
.video-container iframe {
    margin:auto;
    margin-bottom: 10px
}

/* Media */
.media {
    padding: 30px;
    display:flex;
    flex-wrap:wrap
}

.media figure {
    margin:auto
}

figure.medialogo.ytlogoalt {
    display:none
}

@media screen and (max-width:650px) {
    figure.medialogo.ytlogoalt {
        display:block
    }
    figure.medialogo.ytlogomain {
        display:none
    }
}